* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper_list {
    margin:50px 50px 100px;
    list-style: none;
}


.list {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    list-style: inside;
}

.list_nested ul li{
    margin-left: 100px;
    color: darkgray;
    font-size: 15px;
    font-weight: normal;
}

.table {
    margin-left: 50px ;
    border: dimgrey 3px solid;
    border-collapse: collapse;

}
.table td {

    padding: 20px;
    font-size:15px ;
    color: grey;

}
.table td {
    border: 1px solid;
}